* {margin: 0;
      padding: 0;}


     body {
     
      justify-content: center;
      align-items: center;
   
     
    }
    
     .container {
      max-width: 500px;
      text-shadow: 1px 1px 3px black;
    }
    h1 {
      font-size: 60px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
      
    }
    .countdown {
      font-size: 25px;
      font-weight: bold;
      margin-top: 20px;
    }
